@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
.App{
  font-family: 'Nunito Sans', sans-serif;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.1)
  ),
  url("https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size:contain;
  background-position: center;
}
.container{
  border: 2px saddlebrown solid;
  padding: 0px 60px;
  border-radius: 10px;
  margin: 3rem;
  background-color:white ;
}
h1{
  color:rgb(77,1,77);
  text-align: center;
}
button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  color: white;
  background-color: purple;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}
button:hover{
  color: gray;
  background-color: rgb(130, 46, 130);
}